@* @model TModel *@
@model Mvc.Models.Todo.TodoIndexViewModel


<!DOCTYPE html>

<html>
<head>
    <title>Detail</title>
</head>
<body>
<div>
    <h2>Todo Details</h2>
    
    <div>
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
        <p>user:@Model.Name</p> 
        <p>@Model.Description</p>
    </div>

    <div class="d-inline-flex">
        <a asp-action="Edit" class="btn btn-secondary mx-1" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index" class="btn btn-secondary mx-1">Back to List</a>
        <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <button class="btn btn-primary mx-1" role="button" >Remove</button>
        </form>

       
    </div>
   
    
</div>
</body>
</html>