@* @model TModel *@ 
@using Domain.Todos
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model Mvc.Models.Todo.EditTodoViewModel

@{
    ViewData["Title"] = "edit current Todo";
}



<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    
</head>
<body>
<div>
    <form asp-controller="Todo" asp-action="Edit" method="post">
        
        <div>
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
        </div>
        
        <div class="form-group">
            <label asp-for="Title" class="control-label"> geef een korte title</label>
            <input asp-for="Title" class="form-control"/>
        </div>


        <div class="form-group">
            <label asp-for="Description" class="control-label">berschrijf in detail wat er gebeurt moet worden</label>
            <input asp-for="Description" class="form-control"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StatusItem" class="control-label"></label>
            <select asp-for="StatusItem" class="form-control">
                @foreach (var status in Enum.GetValues<StatusItem>())
                {
                    <option value="@status">@status</option>
                }
            </select>
            <span asp-validation-for="StatusItem" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <select asp-for="UserId" class="form-control">
                @foreach (var user in ViewBag.Users)
                {
                    <option value="@user.Id">@user.Name</option>
                }
            </select>
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">update</button>
    </form>
</div>
</body>
</html>