@using Domain.Todos
@model IEnumerable<Mvc.Models.Todo.TodoIndexViewModel>


@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
</head>
<body>
<div>
    <h2>TODO INDEX</h2>
    <div class="mx-1">
        <p>Welcome to the Todo Index, Here are all the cards for this application. these will list all issues/problems
            that still need to be
            resolved.</p>
    </div>

    <div class="btn-group mb-3">
        <button id="btnCardView" class="btn btn-primary">Card View</button>
        <button id="btnTableView" class="btn btn-outline-primary">Table View</button>
    </div>

    <div id="cards" class="container mt-4 p-0 mx-0">
        <div class="row">
            @foreach (var todo in Model)
            {
                <div class="col-sm-6 col-md-3 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        @if (todo.StatusItem == StatusItem.DONE)
                        {
                            <div class="card-body flex-column bg-dark-subtle ">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">@todo.Title</h5>
                                    <p class="badge text-dark">Done</p>
                                </div>

                                <p class="card-text">@todo.Description</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-secondary bottom-0 " asp-controller="Todo" asp-action="Detail"
                                   asp-route-id="@todo.Id"> Details</a>
                            </div>
                        }
                        else
                        {
                            <div class="card-body flex-column">
                                <h5 class="card-title">@todo.Title</h5>
                                <p class="card-text">@todo.Description</p>

                            </div>
                            <div class="card-footer">
                                <a class="btn btn-secondary bottom-0 " asp-controller="Todo" asp-action="Detail"
                                   asp-route-id="@todo.Id"> Details</a>
                                <a class="btn btn-secondary bottom-0 " asp-controller="Todo" asp-action="Resolve"
                                   asp-route-id="@todo.Id">Resolve</a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="table" class="container mt-4 p-0 mx-0 d-none d-flex justify-content-center">
        <table class="table table-bordered w-75 ">
            <thead>
            <tr>
                <th scope="col"># Id</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">User</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var todo in Model)
            {
                <tr>
                    <th>@todo.Id</th>
                    <td>@todo.Title</td>
                    <td>@todo.StatusItem</td>
                    <td>@todo.Name</td>
                    <td class="text-center" colspan="2" >
                        <a class="btn btn-secondary bottom-0 " asp-controller="Todo" asp-action="Detail"
                           asp-route-id="@todo.Id">Details</a>
                        <a class="btn btn-secondary bottom-0 " asp-controller="Todo" asp-action="Resolve"
                           asp-route-id="@todo.Id">Resolve</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>


    </div>


    <a class="btn btn-primary" role="button" asp-controller="Todo" asp-action="New">
        Create new todo
    </a>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $('#btnCardView').click(function () {
                    $('#cards').removeClass('d-none');
                    $('#table').addClass('d-none');
                    $(this).removeClass('btn-outline-primary').addClass('btn-primary');
                    $('#btnTableView').removeClass('btn-primary').addClass('btn-outline-primary');
                });

                $('#btnTableView').click(function () {
                    $('#table').removeClass('d-none');
                    $('#cards').addClass('d-none');
                    $(this).removeClass('btn-outline-primary').addClass('btn-primary');
                    $('#btnCardView').removeClass('btn-primary').addClass('btn-outline-primary');
                });
            });
        </script>
    }


</div>
</body>
</html>