@model IEnumerable<Mvc.Models.Todo.TodoIndexViewModel>


@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>TODO INDEX</title>
</head>
<body>
<div>
    <h2>TODO INDEX</h2>
    <div>
        <p>in the following table you will see all the Todo's for this application and the users assigned to it.</p>
    </div>
    
    <table class="p-1 m-1 border" >
        <tr>
            @* <th>ID</th>  *@
            <th>Task Description</th> 
            <th>Status of task</th> 
            <th>Assigned Person</th> 
        </tr>
        @foreach(var todo in Model)
        {
        
            <tr class="m-1">
                @* <td>@todo.Id</td> *@
                <td class="mb-1">@todo.Title </td>
                <td class="mb-1">@todo.StatusItem</td>
                <td class="mb-1">@todo.Name</td>
                <td class="mb-1"><a class="btn btn-secondary" asp-controller="Todo" asp-action="Detail" asp-route-id="@todo.Id"> Details</a></td>
                </tr>
            
        }
    </table>

    <a class="btn btn-primary" role="button" asp-controller="Todo" asp-action="New">
        Create new todo
    </a>
    
    
   
</div>
</body>
</html>