@model IEnumerable<Mvc.Models.Todo.TodoIndexViewModel>


@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>TODO INDEX</title>
</head>
<body>
<div>
    <h2>TODO INDEX</h2>
    
    <table border="1">
        <tr>
            <th>ID</th> 
            <th>Task Description</th> 
            <th>Status of task</th> 
            <th>Assigned Person</th> 
        </tr>
        @foreach(var todo in Model)
        {
            
            <tr>
                <td>@todo.Id</td>
                <td><a asp-controller="Todo" asp-action="Detail" asp-route-id="@todo.Id">
                    @todo.title 
                    </a></td>
                <td>@todo.StatusItem</td>
                <td>@todo.Name</td>
            </tr>
        }
    </table>

    <a class="btn btn-primary" role="button" asp-controller="Todo" asp-action="New">
        Create new todo
    </a>
    
    
   
</div>
</body>
</html>